@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  overflow: auto;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 20px;
  padding-top: 40px;
  max-width: 450px;
  width: 90%;
  overflow: auto;
  height: 650px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.site-logo {
  height: 100px;
  background-color: white;
  margin-bottom: 40px;
}

.input-ele-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.password-container {
  position: relative;
}

.pass-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pass-container a {
  font-size: 13px;
  text-decoration: none;
  color: #ab2c2c; /* Updated color */
}

.toggle-password {
  position: absolute;
  top: 57%;
  right: 10px;
  transform: translate(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #aaa;
}

.input-label {
  font-size: 14px;
  margin-bottom: 8px;
  color: #333;
}

.text-input {
  width: 100%;
  height: 48px;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-button {
  height: 48px;
  border-radius: 6px;
  border: none;
  background-color: #ab2c2c; /* Updated color */
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #8a2323; /* Slightly darker shade */
}

.or-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}

.or-text {
  margin: 0 10px;
  font-size: 14px;
  color: #888;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}

.google-button img {
  margin-right: 10px;
}

.newaccount {
  margin-top: 20px;
}

.newaccount a {
  text-decoration: none;
  color: #ab2c2c; /* Updated color */
  font-weight: 500;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
